<li class="quiz-entry">
  <span class="icon-container" style="background-color: hsl(<%= quiz.hue %>, 50%, 50%)"><i class="fas fa-home fa-lg home"></i></span>
  <div class="quiz-overview">
    <span><%= quiz.venue %></span>
    <span class="quiz-time"><%= quiz.day.slice(0,3) %><%= quiz.time ? ", #{quiz.time}" : "" %></span>
  </div>
</li>
