<main>
  <h2>Calendar</h2>
  <% if @events.any? %>
    <ul>
      <% @events.each do |event| %>
        <li class="date-item">
        <div class="event-details">
          <%= fa_icon "calendar-check-o", class: "event-icon" %>
          <div>
            <%= event.date.strftime("%a %e %b %y") %>, <%= event.quiz.venue %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>You are not attending any events yet.</p>
    <p>To add some to your calendar, click 'Attending' on individual quiz pages.</p>
  <% end %>
</main>