<% content_for :title, "Edit" %>

<div class="wide-form-container">
  <div class="buttons-container">
    <%= link_to @quiz do %>
      <%= fa_icon "arrow-left", class: "fa-lg grey" %>
    <% end %>
  </div>
  <h2>Edit <%= formatName(@quiz.venue) %></h2>
  <%= render 'form', quiz: @quiz %>
</div>
