<%= render 'header', active: "home" %>
<main>
  <%= render 'filters' %>
  <% if @quizzes.count == 0 %>
    <h3>No quizzes found</h3>
  <% end %>
  <ul class="picture-grid">
    <% @quizzes.shuffle.each do |quiz| %>
      <%= link_to quiz do %>
        <%= render 'quiz', quiz: quiz %>
      <% end %>
    <% end %>
  </ul>
</main>
