<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
  </script>
<% end %>

<%= render 'header' %>
<main>
  <ul class="picture-grid">
      <% @quizzes.order(:venue).each do |quiz| %>
          <%= link_to quiz do %>
            <%= render 'quiz', quiz: quiz %>
          <% end %>
      <% end %>
  </ul>
</main>
