<%= render 'filters' %>
<main>
  <% if @quizzes.any? %>
    <ul class="quiz-grid">
      <% @quizzes.each do |quiz| %>
        <%= render 'quiz', quiz: quiz %>
      <% end %>
    </ul>
  <% else %>
    <h3>No quizzes found</h3>
  <% end %>
</main>

<%= render 'layouts/footer' %>