<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
  </script>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Briz Quiz List</h1>
<ul class="picture-grid">
    <% @quizzes.each do |quiz| %>
        <%= link_to quiz do %>
          <%= render 'quiz', quiz: quiz %>
        <% end %>
    <% end %>
</ul>
