<%= render 'header', active: "home" %>
<main>
  <ul class="picture-grid">
    <% @quizzes.order(:venue).each do |quiz| %>
      <%= link_to quiz do %>
        <%= render 'quiz', quiz: quiz %>
      <% end %>
    <% end %>
  </ul>
</main>
