<% content_for :title, "New Quiz" %>

<div class="wide-form-container">
  <div class="buttons-container">
    <%= link_to my_quizzes_path do %>
      <%= fa_icon "arrow-left", class: "fa-lg grey" %>
    <% end %>
  </div>
  <h2>New Quiz</h2>
  <%= render 'form', quiz: @quiz %>
</div>
