<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      removeElement()
    });
  </script>
<% end %>

<main>
  <h2>Favourites</h2>
    <% if @favourites.any? %>
      <ul>
        <% @favourites.each do |f| %>
          <%= render 'favourite', favourite: f %>
        <% end %>
      </ul>
    <% else %>
      <p>You have no favourites yet.</p>
      <p>To add some, click the <%= fa_icon "heart" %> on individual quiz pages.</p>
    <% end %>
</main>
