<%= render 'quizzes/nav', active: "about" %>
<main>
  <h2>What’s all this then?</h2>
  <p>I am a Bristol-based software developer / quiz enthusiast, and this is:</p>
  <ol>
    <li type="a">an attempt at learning Ruby on Rails</li>
    <li type="a">a way to avoid being hassled for details of where and when a quiz might be on my WhatsApp group</li>
  </ol>
  <p>Eventually, I plan to add users, so that representatives from pubs can update their own respective quizzes. Until then, I will endeavour to keep the listings as up-to-date as possible, and meanwhile start building a contact form so people can let me know if something has gone drastically wrong. Watch this space!</p>
</main>
