<main>
  <h2>What’s all this then?</h2>
  <p>I am a Bristol-based, slightly bored, software developer / quiz enthusiast. This is a semi-comprehensive list of pub quizzes that were running in Bristol during normal times.</p>
  <p><strong>Fellow quiz fans:</strong> <%= link_to "sign up for an account", new_user_registration_path, class: "normal-link" %> to save your favourite quizzes.</p>
  <p><strong>Quiz representatives:</strong> also <%= link_to "sign up for an account", new_user_registration_path, class: "normal-link" %>, to add new quizzes.</p>
  <p>If you are a quiz representative and have found some inaccurate information about it here, please <a href="mailto:brizquizlist@gmail.com" class="normal-link">let me know</a>.</p>
</main>
