#date_container {
  width: 100%;
  margin-bottom: 1rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.75rem;
}

.remove-date {
  background-color: transparent;
  cursor: pointer;
}

.list-item-details {
  display: flex;
  flex-direction: row;
  small {
    display: block;
  }
}

.event-item {
  align-items: center;
  height: 2rem;
}