.filter-zone {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#filter_toggle {
  align-self: flex-end;
}

#quiz_search {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 1px solid $grey;
  background-color: $off_black;
	&.visible {
		display: flex;
	}
	select,
	.filter {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem;
    input {
      min-width: 0;
      width: 100%;
    }
	}
}

@media screen and (min-width: $large) {
  .filter-zone {
    flex-direction: row;
  }
  #quiz_search {
    flex-direction: row;
    select,
    .filter {
      min-width: 0;
      width: 30%;
    }
  }
}