.filters {
  width: 100%;
  background-color: $off-black;
}

.filter-zone {
  max-width: $max-width;
  padding: 1rem;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-label {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#quiz_search {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: $border-radius;
  padding: 0;
	select,
	.filter {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem;
    input {
      min-width: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: $large) {
  .filters {
    height: 6rem;
  }
  .filter-zone {
    margin: auto;
  }
  #quiz_search {
    flex-direction: row;
    select {
      width: 25%;
    }
    .filter {
      width: 42%;
      margin-left: 0;
    }
    #q_postcode_cont {
      margin-right: 0;
    }
  }
}