.filter-zone {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#quiz_search {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: $border-radius;
  padding: 0;
	select,
	.filter {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem;
    input {
      min-width: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: $large) {
  #quiz_search {
    flex-direction: row;
    select,
    .filter {
      min-width: 0;
      width: 30%;
    }
    .filter {
      margin-left: 0;
    }
  }
}