input,
select {
	font-size: 0.75rem;
	padding: 0 0.5rem;
	-webkit-appearance: none;
	border: none;
	border-radius: 0;
	background: #fff;
  height: 2rem;
}

input[type=submit] {
  width: 100%;
  font-family: 'Courier', 'Helvetica', sans-serif;
  font-size: 1rem;
  margin: 0.75rem 0;
  background-color: purple;
  color: #fff;
  &:hover {
    box-shadow: inset 0 0 10px #222;
  }
}

.form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  p {
    max-width: 400px;
    text-align: center;
    font-size: 14px;
    margin-top: 0;
  }
  input {
    min-width: 240px;
    @media screen and (min-width: 720px) {
      min-width: 400px;
    }
  }
  small {
    display: block;
  }
}
