form {
  padding: 1rem;
}

div {
  &.field {
    width: 100%;
    margin-bottom: 1rem;
  }
}

input:not([type=radio]), select {
  font-family: $body_font;
	font-size: 0.875rem;
  padding: 0 0.25rem;
  height: 2rem;
	border: none;
	border-radius: 0;
  background: $white;
  border-radius: $border-radius;
}

input[type=time], input[type=date] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]), textarea {
  width: calc(100% - 0.5rem);
}

select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image:
    linear-gradient(45deg, transparent 50%, $black 50%),
    linear-gradient(135deg, $black 50%, transparent 50%);
  background-position:
    calc(100% - 15px) 14px,
    calc(100% - 9px) 14px,
    100% 0;
  background-size:
    6px 6px,
    6px 6px,
    2rem 2rem;
  background-repeat: no-repeat;
}

textarea {
  font-family: $body_font;
	font-size: 0.875rem;
  resize: none;
  height: 4rem;
  border-radius: $border-radius;
  border: none;
  padding: 0.25rem;
}

input[type=submit] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  max-width: $field_width;
  margin: 0.75rem 0 1rem;
  background-color: $blue;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', sans-serif;
  &:hover {
    box-shadow: inset $shadow;
  }
}

input[type=checkbox] {
  margin: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkbox-label {
  max-width: $field_width;
  margin: 1.5rem 0;
}

.wide-form-container {
  max-width: $field_width;
  margin: auto;
  background-color: $off_black;
  padding: 1rem;
}

.wide-form {
  padding: 0;
  .form-container {
    padding: 0;
    margin: 0;
  }
}

.form-container {
  max-width: $field_width;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $off_black;
  padding: 1rem 2rem;
  min-height: 90vh;
  h1 {
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    max-width: $field_width;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0;
  }
  small {
    max-width: $field_width;
    display: block;
    font-size: 0.75rem;
  }
  a {
    text-align: center;
  }
}

.half-field {
  width: 48%;
}

.field-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $padding 0;
  max-width: 100%;
}

.radio-row {
  justify-content: flex-start;
  label {
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
    input {
      margin: 0;
      margin-right: 0.5rem;
    }
  }
}

.input-with-attachment {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  input:not(#quiz_price) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #quiz_price {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  button {
    cursor: pointer;
    background-color: $blue;
    height: 100%;
    border: 0;
    margin: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.currency-marker {
  background: $white;
  color: $black;
  padding-left: $padding;
  display: flex;
  align-items: center;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.confirm-icon {
  display: none;
  font-size: 0.875rem;
}

.strength-indicator {
  height: 0.8rem;
  font-size: 0.75rem;
  padding: 2px;
  color: #000;
}

.field_with_errors {
  width: 100%;
  label {
    color: red;
  }
}

#error_explanation {
  border: 2px solid red;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.error-list {
  margin: 0.5rem;
}

label {
  display: block;
  font-size: 0.875rem;
}

@media screen and (min-width: $medium) {
  .field {
    width: $field_width;
  }
  .form-container {
    margin: 2rem auto;
    border-radius: $border_radius;
    min-height: 0;
  } 
}

@media screen and (min-width: $xlarge) {
  .wide-form-container {
    max-width: 860px;
    margin: 2rem auto;
    border-radius: $border_radius;
  }
  .wide-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .form-container {
    width: $field_width;
  }  
}