form {
  padding: 1rem;
}

div {
  &.field {
    width: 100%;
    margin-bottom: 1rem;
  }
}

input:not([type=radio]), select {
  font-family: $body_font;
	font-size: 1rem;
  padding: 0 0.25rem;
  height: 2rem;
	border: none;
	border-radius: 0;
	background: $white;
}

input[type=time], input[type=date] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]), textarea {
  width: calc(100% - 0.5rem);
}

select {
  width: 100%;
}

textarea {
  font-family: $body_font;
	font-size: 1rem;
  resize: none;
  height: 3rem;
  border-radius: 0;
  border: none;
  padding: 0.25rem;
}

input[type=submit] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  max-width: $field_width;
  margin: 0.75rem 0 1rem;
  background-color: $blue;
  &:hover {
    box-shadow: inset $shadow;
  }
}

input[type=checkbox] {
  margin: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkbox-label {
  max-width: $field_width;
  margin: 1.5rem 0;
}

.wide-form-container {
  max-width: $field_width;
  margin: auto;
}

.wide-form {
  padding: 0;
  .form-container {
    padding: 0;
    margin: 0;
  }
}

.form-container {
  max-width: $field_width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  h1 {
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    max-width: $field_width;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0;
  }
  small {
    max-width: $field_width;
    display: block;
  }
  a {
    text-align: center;
  }
}

.half-field {
  width: 48%;
}

.field-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $padding 0;
  max-width: 100%;
}

.radio-row {
  justify-content: flex-start;
  label {
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
    input {
      margin: 0;
      margin-right: 0.5rem;
    }
  }
}

.input-with-attachment {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  button {
    font-size: 0.875rem;
    cursor: pointer;
    background-color: $blue;
    height: 100%;
    border: 0;
    margin: 0;
  }
}

.currency-marker {
  background: $white;
  color: $black;
  padding: $padding;
  line-height: 1.5rem;
}

.confirm-icon {
  display: none;
  font-size: 0.875rem;
}

.field_with_errors {
  width: 100%;
  label {
    color: red;
  }
}

#error_explanation {
  border: 2px solid red;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.error-list {
  margin: 0.5rem;
}

label {
  display: block;
}

@media screen and (min-width: $medium) {
  .field {
    width: $field_width;
  }
}

@media screen and (min-width: $xlarge) {
  .wide-form-container {
    max-width: 860px;
  }
  .wide-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }  
}