@import "variables.scss";

body {
  width: 100%;
  background-color: $off_white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.container {
  display: block;
  margin: 0 auto !important;
  box-sizing: border-box;
  padding: 1.5rem;
  width: $max_width;
  max-width: 100vw;
  text-align: center;
}
header {
  background-color: $dark_purple;
  background: linear-gradient($dark_purple, $light_purple);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}
main {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  background: $white;
  width: 100%;
  a {
    background-color: $blue;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25rem;
    border-radius: $border_radius;
  }
}
footer {
  padding: 1rem;
  color: $grey;
  font-size: 0.8rem;
  a {
    color: $grey;
  }
}
