#map-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#map {
	width: 40vw;
	height: 40vw;
  @media screen and (max-width: 720px) {
    width: 90vw;
    height: 90vw;
  }
}
