#map_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 90vw;
  height: 90vw;
  max-width: 100%;
  @media screen and (min-width: 720px) {
    max-width: 400px;
    max-height: 400px;
  }
}
