nav {
	background-color: purple;
	padding: 0 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  display: none;
}

#hover-area {
  position: relative;
  cursor: pointer;
}

#user-menu {
  display: none;
  position: absolute;
  background-color: #222;
  color: #fff;
  width: 100%;
  &.visible {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 5px;
  }
}

@media screen and (min-width: 480px) {
  .nav-link {
    display: initial;
  }
	#home-icon {
		display: none;
  }
}