nav {
	background-color: purple;
	padding: 0 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

@media screen and (max-width: 480px) {
	.nav-link {
		display: none;
  }
}