nav {
  background-color: #8a0f4d;
  background: linear-gradient(#8a0f4d, #b81466);
	padding: 0 2vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

.nav-inner {
  max-width: 1080px;
  margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  text-align: center;
}

.nav-link {
  display: none;
}

.link-lg {
  font-size: 1.5rem;
  margin: 0;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.account-menu {
  display: none;
  position: absolute;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
}

.account-menu-marker {
  width: 1.5rem;
  height: 0.75rem;
  margin: 0 1rem -1px;
  background-color: #8a0f4d;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.account-menu-list {
  text-align: left;
  background-color: #8a0f4d;
  color: #fff;
  min-width: 200px;
  max-width: 80vw;
  padding: 0.5rem;
}

.account-container {
  position: relative;
}

.account-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
}

.account-container:hover .account-menu {
  display: flex;
}

@media screen and (min-width: 480px) {
  .nav-link {
    display: initial;
  }
	#home-icon {
		display: none;
  }
}