.details-container {
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
}

#favourite_button:hover {
  color: #fff;
}

.favourite-number {
  font-size: 1rem;
  padding: 2px;
}

.quiz-title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.paper-container {
  box-shadow: -8px -9px 0 -4px #eee;
}

.paper {
	list-style: none;
	margin-top: 0;
  background-color: #fff;
  background-image: linear-gradient(#eee 0.4px, transparent 1px);
  background-size: 100% 1.6rem;
  color: #111;
  clip-path: polygon(0 0, 99% 0, 100% 100%, 0% 100%);
	li {
		display: flex;
		flex-flow: row nowrap;
		span,
		a {
			color: #111;
			padding: 0.75rem;
		}
		a:hover {
			color: $blue;
		}
		.icon {
			i {
				width: 2.5rem;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				border-right: 2px solid #abced4;
			}
		}
	}
}

.tooltip {
  position: relative;
  padding-left: $padding;
  padding-bottom: 10px;
}

.tooltip .tooltiptext {
  position: absolute;
	right: 0;
	width: 7.5rem;
	background-color: #ddd;
	color: #000;
	text-align: center;
	padding: $padding;
	border-radius: $border_radius;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	opacity: 1;
	z-index: 100;
}

@media screen and (min-width: $large) {
	.quiz-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
		flex-direction: row;
  }
  .details-container {
    max-width: 600px;
    margin-right: 1rem;
  }
}