.quiz-entry {
  flex: 1;
  margin-bottom: 1.5rem;
}

.quiz-link {
	width: 100%;
	background-color: $off_black;
	display: flex;
  flex-direction: row;
  border-radius: $border_radius;
}

.box-shadow:hover {
  box-shadow: $shadow;
}

.icon-container {
	display: flex;
	align-items: center;
  padding: 1rem 0.5rem;
  border-top-left-radius: $border_radius;
  border-bottom-left-radius: $border_radius;
}

.quiz-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1rem;
  i {
    margin-left: 0;
  }
  span {
    margin-right: 1.5rem;
  }
}

.quiz-overview {
	padding: 0.5rem;
	width: 100%;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
	justify-content: space-between;
}

.quiz-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  padding-right: 0
}

.actions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.5rem;
  .quiz-overview {
    padding-bottom: 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
  }
}

.title-with-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
}

@media screen and (min-width: $medium) {
	.quiz-overview {
    flex-direction: row;
    align-items: center;
	}
	.icon-container {
    padding: 0.5rem;
  }
  .actions-container {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    .quiz-overview {
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: $large) {
  .quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
