.picture-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.quiz-entry {
	border: 1px solid lightgrey;
	box-shadow: 0 0 10px grey;
	width: 40vw;
	margin: 10px;
	display: flex;
	flex-direction: row;
}

.quiz-time {
	font-size: 0.8rem;
}

.quiz-details {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.icon-container {
	height: 100%;
	padding: 10px;
}

.quiz-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.quiz-title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#map {
	width: 40vw;
	height: 40vw;
}

.tooltip .tooltiptext {
	position: absolute;
	width: 120px;
	background-color: #ddd;
	color: #000;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	opacity: 1;
	z-index: 100;
}

@media screen and (max-width: 720px) {
	.quiz-entry {
		width: 90vw;
	}
}

@media screen and (max-width: 480px) {
	.quiz-details {
		flex-direction: column;
		align-items: flex-start;
	}
	.icon-container {
		padding: 20px 10px;
	}
}
