@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: font-url('OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: $black;
  background-image: asset-url(image_path('question.svg'));
  background-attachment: fixed;
  color: $off_white;
  margin: 0;
  font-family: $body_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Bold', sans-serif;
}

main {
  margin: 5vw;
  max-width: $max_width;
  min-height: 70vh;
  @media screen and (min-width: $max_width) {
    margin: 5vw auto;
  }
}

.container {
  background-color: $off_black;
  border-radius: $border_radius;
  padding: 0.5rem 1rem 1rem;
}

button {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.25rem;
  font-family: $body_font;
  border: none;
  background-color: $white;
  &:hover {
    box-shadow: inset $shadow;
  }
}

a {
  color: $off_white;
  text-decoration: none;

  &:hover, &.normal-link {
    color: $blue;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.icon-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  border-radius: $border_radius;
  padding: 1px 3px;
  span {
    padding-right: 3px;
  }
}

.action {
  background-color: $off_white;
  color: $off_black;
  justify-content: center;
  span {
    display: none;
  }
  &:hover {
    color: $off_black;
    box-shadow: inset $shadow;
  }
}

.margin {
  margin: 0.5rem;
}

@media screen and (min-width: $medium) {
  .icon-link span {
    display: initial;
  }
}