$black: #000;
$off_black: #262626;
$white: #fff;
$off_white: #eee;
$grey: #666;
$light_purple: #b81466;
$dark_purple: #8a0f4d;
$darker_purple: #521433;
$blue: #33ccff;

$medium: 480px;
$large: 720px;
$xlarge: 900px;

$max_width: 1080px;
$field_width: 400px;
$padding: 0.25rem;
$border_radius: 0.375rem;

$shadow: 0 0 0.5rem $grey;
$body_font: 'Open Sans', sans-serif;