<p>Hello <%= @resource.username || @resource.email %>!</p>

<p>We have received a request to reset your password. Please click <%= link_to 'here', edit_password_url(@resource, reset_password_token: @token) %> to update it.</p>

<p>If you didn't request this, please ignore this email.</p>
