<p>Hello <%= @resource.email %>!</p>

<p>We have received a request to reset your password. Please click on the following link to update it:</p>

<p><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
